html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.no-box-size { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* typography */
h1, h2 {
    padding: 20px 0;
    text-align: center;
}


/* SECTIONS */
#header {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 320px;
    height: 50px;	
    background: #002A41;
    border-left: 1px solid #aaa;
    color: white;
    z-index: 2;
}

#header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#content {
    border-left: 1px solid #aaa;
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    padding: 0;
    width: 320px;
    background: rgba(255, 255, 255,1);
    overflow: hidden;
    z-index: 2;
}

#content a.button.block {
    display: block;
    margin-bottom: 12px;
}

/* MAP STYLES */
#map-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.map {
    background: rgba(232, 224, 216, 1);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}
